<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% csrf_token %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'trade_perf/styles.css' %}" />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

    <title>Trade Performance</title>
    <style>
      body {
        background-image: url("{% static 'trade_perf/dark_bg.jpg' %}");
        background-size: fill;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <div id="dailypnl" class="divBorder"></div>
    <div id="total_pnl" class="divBorder"></div>
    <div id="cal_pnl" class="divBorder center"></div>
    <div class="tops divBorder">
      <div id="top_loss" style="width: 48%" class="tops_child"></div>
      <div id="top_win" style="width: 48%" class="tops_child"></div>
    </div>
    <div>
      <div id="most_traded" style="width: 48%" class="tops_child"></div>
      <div id="tab_stats" style="width: 48%" class="tops_child"></div>
    </div>

    <script
      type="text/javascript"
      src="{% static 'trade_perf/trade_perf.js' %}"
    ></script>
  </body>
</html>
