<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% csrf_token %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    This is my trading performance page.
    <div id="test"></div>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <!-- <script type="text/javascript">
      var date = "{{ date }}";
      var daily_pnl = "{{ daily_pnl }}";
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script
      type="text/javascript"
      src="{% static 'trade_perf/trade_perf.js' %}"
    ></script>
  </body>
</html>
