<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% csrf_token %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dynamic Chart</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        background-image: url("{% static 'bg.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <!-- <h1>Hello World</h1> -->
    <div class="row">
      <div
        class="btn-group btn-group-toggle mx-auto"
        data-toggle="buttons"
        id="mybtn"
      >
        <label class="btn btn-secondary active">
          <input
            type="radio"
            name="options"
            id="option1"
            autocomplete="off"
            value="BTCUSDT"
            checked
          />
          BTCUSDT
        </label>
        <label class="btn btn-secondary">
          <input
            type="radio"
            name="options"
            id="option2"
            autocomplete="off"
            value="ETHUSDT"
          />
          ETHUSDT
        </label>
        <label class="btn btn-secondary">
          <input
            type="radio"
            name="options"
            id="option3"
            autocomplete="off"
            value="SOLUSDT"
          />
          SOLUSDT
        </label>
        <label class="btn btn-secondary">
          <input
            type="radio"
            name="options"
            id="option4"
            autocomplete="off"
            value="BNBUSDT"
          />
          BNBUSDT
        </label>
        <label class="btn btn-secondary">
          <input
            type="radio"
            name="options"
            id="option5"
            autocomplete="off"
            value="ADAUSDT"
          />
          ADAUSDT
        </label>
        <label class="btn btn-secondary">
          <input
            type="radio"
            name="options"
            id="option6"
            autocomplete="off"
            value="XRPUSDT"
          />
          XRPUSDT
        </label>
        <label class="btn btn-secondary">
          <input
            type="radio"
            name="options"
            id="option7"
            autocomplete="off"
            value="DOTUSDT"
          />
          DOTUSDT
        </label>
        <label class="btn btn-secondary">
          <input
            type="radio"
            name="options"
            id="option8"
            autocomplete="off"
            value="DOGEUSDT"
          />
          DOGEUSDT
        </label>
        <label class="btn btn-secondary">
          <input
            type="radio"
            name="options"
            id="option9"
            autocomplete="off"
            value="SHIBUSDT"
          />
          SHIBUSDT
        </label>
        <label class="btn btn-secondary">
          <input
            type="radio"
            name="options"
            id="option10"
            autocomplete="off"
            value="MATICUSDT"
          />
          MATICUSDT
        </label>
      </div>
    </div>
    <div class="timeframe" id="timeframe" name="timeframe"></div>
    <div id="tvchart"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
    ></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

    <script type="text/javascript" src="{% static 'cryptoss.js' %}"></script>
  </body>
</html>
