<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Dynamic Chart</title>
    <style>
      body {
        background-image: url("{% static 'bg.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <!-- <h2>Binance BTCUSDT Chart</h2> -->
    <div class="switcher" id="switcher"></div>
    <div id="tvchart"></div>
  </body>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
  ></script>
  <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
  <script type="module" src="{% static 'index.js' %}"></script>
  <!-- <script type="text/javascript" src="test.js"></script> -->
</html>
