<!DOCTYPE html>
<html>
  {% load static %}
  <title>Resume</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
    crossorigin="anonymous"
  />
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Roboto", sans-serif;
    }
  </style>
  {% include "home/navbar.html" %}
  <body class="w3-blue-grey">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width: 1400px">
      <!-- The Grid -->
      <div class="w3-row-padding">
        <!-- Left Column -->
        <div class="w3-third">
          <div class="w3-sand w3-text-grey w3-card-4">
            <div class="w3-display-container">
              <img
                src="{% static 'home/sablay.jpg' %}"
                style="width: 100%"
                alt="Avatar"
              />
              <div class="w3-display-bottomleft w3-container w3-text-black">
                <h2 style="color: #f0e68c">Christian Loer T. Llemit</h2>
              </div>
            </div>
            <div class="w3-container">
              <p>
                <i
                  class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >loerllemit@gmail.com
              </p>
              <p>
                <i
                  class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >+63 906 552 1457
              </p>
              <p>
                <i
                  class="fa fa-globe fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >github.com/loerllemit
              </p>
              <hr />

              <!-- <p class="w3-large">
                <b
                  ><i
                    class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"
                  ></i
                  >Skills</b
                >
              </p> -->
              <h2 class="w3-text-grey w3-padding-10">
                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i
                >Skills
              </h2>
              <h5 class="w3-opacity w3-text-black">
                <b>Advanced </b>
              </h5>
              <p class="w3-text-black">
                scientific and mathematical modelling, numerical simulation,
                computational physics, density functional theory, matrix
                eigenvalue problem, self-consistent field calculations, high
                performance computing, VS Code, Linux bash, Ubuntu, git, github,
                python, jupyter notebook, numpy, scipy, pandas, matplotlib,
                Maple, HTML, CSS, LaTeX, sigmaplot, Microsoft office, google
                suites
              </p>
              <h5 class="w3-opacity w3-text-black">
                <b>Intermediate </b>
              </h5>
              <p class="w3-text-black">
                django REST API, django ORM, javascript, bootstrap, OriginLab
                Pro, Mathematica, chart.js, dash plotly, google charts, Docker,
                Heroku web deployment, google cloud platform, SSH
              </p>
              <h5 class="w3-opacity w3-text-black">
                <b>Novice </b>
              </h5>
              <p class="w3-text-black">
                Julia, django CMS, SQL, Adobe Illustrator, Inkscape
              </p>
              <hr />

              <p class="w3-large w3-text-theme">
                <b
                  ><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i
                  >Languages</b
                >
              </p>
              <p>English</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-teal"
                  style="height: 24px; width: 100%"
                >
                  100%
                </div>
              </div>
              <br />
              <p>Filipino</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-teal"
                  style="height: 24px; width: 100%"
                >
                  100%
                </div>
              </div>
              <br />
              <p>Bisaya</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-teal"
                  style="height: 24px; width: 100%"
                >
                  100%
                </div>
              </div>
              <br />
              <p>Waray</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div
                  class="w3-container w3-center w3-round-xlarge w3-teal"
                  style="height: 24px; width: 80%"
                >
                  80%
                </div>
              </div>
              <br />
            </div>
          </div>
          <br />

          <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">
          <div class="w3-container w3-card w3-sand w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16">
              <i
                class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"
              ></i
              >Work Experience
            </h2>
            <div class="w3-container">
              <h5 class="w3-opacity">
                <b
                  >Part Time Physics Lecturer / University of the Philippines -
                  Los Baños
                </b>
              </h5>
              <h6 class="w3-text-teal">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2022 -
                <span class="w3-tag w3-teal w3-round">Present</span>
              </h6>
              <p>
                Taught introductory physics courses ranging from classical
                physics, electrodynamics to optics for freshmen and sophomores
              </p>
              <hr />
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity">
                <b
                  >Teaching Associate / University of the Philippines - Diliman
                </b>
              </h5>
              <h6 class="w3-text-teal">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb 2021 -
                June 2022
              </h6>
              <p>
                Taught introductory physics courses ranging from classical
                physics, electrodynamics to optics for freshmen and sophomores
              </p>
            </div>
          </div>

          <div class="w3-container w3-card w3-sand">
            <h2 class="w3-text-grey w3-padding-16">
              <i
                class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"
              ></i
              >Education
            </h2>
            <div class="w3-container">
              <h5 class="w3-opacity">
                <b
                  >Masters of Science in Physics / University of the Philippines
                  - Diliman
                </b>
              </h5>
              <h6 class="w3-text-teal">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2020 -
                Jul 2022
              </h6>
              <ul>
                <li>Excellence in Graduate Studies</li>
                <li>
                  Thesis: Structural, electronic, and magnetic properties of
                  Iron-related defects in wurtzite ZnO: an approach from first
                  principles calculations
                </li>
              </ul>
              <hr />
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity">
                <b
                  >Bachelor of Science in Applied Physics / University of the
                  Philippines - Diliman
                </b>
              </h5>
              <h6 class="w3-text-teal">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2015 -
                Jul 2020
              </h6>
              <ul>
                <li>Class Valedictorian</li>
                <li>Magna cum Laude</li>
                <li>
                  College of Science Excellence Award for Outstanding B.S.
                  Graduate in Applied Physics
                </li>
                <li>DOST RA 7687 scholar</li>
                <li>
                  Thesis: First principles calculations of defect structures in
                  Zinc Oxide
                </li>
              </ul>
              <hr />
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity">
                <b
                  >High School / Philippine Science High School - Central
                  Visayas Campus, Argao, Cebu
                </b>
              </h5>
              <h6 class="w3-text-teal">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2011 -
                Apr 2015
              </h6>
              <ul>
                <li>Salutatorian</li>
              </ul>
            </div>
          </div>

          <!-- End Right Column -->
        </div>

        <!-- End Grid -->
      </div>

      <!-- End Page Container -->
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
